* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    background-color: #333;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
}

.nav-wrapper .logo h3 {
    color: #fff;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
margin: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.ham-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }



@media only screen and (mun-width: 360px) {
    .ham-menu {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    .menu {
        display: none;
    }
}

.nav-wrapper {
    padding: 1rem;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
}

.menu {
    width: 100%;
}

.menu li {
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    transition: 0.3s;
}

.menu li:hover {
    background-color: #2a2a2a;
   }

   .menu-active {
    display: block;
}